@{
    ViewBag.Title = "Sever Doc Database";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <p>
                <h1>@ViewBag.Title.</h1>
                </p>
                <p>
                <h2>@ViewBag.Message</h2>
                </p>
                
            </hgroup>
        </div>
    </section>
}

