@{
    ViewBag.Title = "Sever Documentation Database";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <p>
                <h1>@ViewBag.Title.</h1>
                </p>
                <p>
                @ViewBag.Message
                </p>
                
            </hgroup>
        </div>
    </section>
}
<h3>Start with these things first:</h3>
<ol class="round">
    <li class="one">
        <h5>Add your company's Department's and room's.</h5>
        You'll first need to add all of your company's department's in, as all assets need to be tied to a department.<br />
        <a href="\Department\index">Create a Department.</a><br />
        Then, add all the rooms that store equipment, servers, and services.<br />
        <a href="\Room\Index">Add rooms.</a><br />
    </li>

    <li class="two">
        <h5>Categorize your equipment</h5>
        Choose first what kind of equipment you want to document. It could be just workstations and servers, or you could bring in much more. If your equipment is monitors, tables, printers, or more, create a category for it here.<br />
        <a href="\Category\Index">Create your equipment categories.</a><br />
        Now that you have an idea of what equipment you're documenting, make note of all the different makes of equipment you know of.<br />
        <a href="\Make\Index">Add your equipment makes here.</a><br />
    </li>

    <li class="three">
        <h5>Add up and start putting in your Infrastructure</h5>
        Now you start putting in your physical inventory! Everything is in place to get the information you want on your physical equipment.
        Take a look at that desktop computer, document when you bought it, where's its located, and more!<br />
        <a href="\Infrastructure\Index">Document your Inventory.</a><br />
        This task can be done by anyone. As long as you've got it set up with categories, makes, departments and rooms have the whole office put in their own equipment.
    </li>
    <li class="four">
        <h5>Advanced Information</h5>
        Now take the time to figure out what else is going on in your department. Take a look at servers, and get down what OS is running on them. Who installed it, what passwords might
        be used on them. What their IP address is.<br />
        <a href="\Server\Index">Document your Inventory.</a><br />
        <h6>Services Provided by Servers</h6>
        Here's where you can now keep track of where that FTP server is, even by room now! Because you have it tied to a server, which is tied to your equipment.
        Need to know if you have web hosting for Marketing? It will tell you here.<br />
        <a href="\Service\Index">Document your services.</a>
    </li>
</ol>

